.Greetings{
    flex-direction: column;
    align-items: start;
    justify-content: start;
    display: flex;
    min-height: 100%;
    min-width: 100vw;
}

.Personal_info{
    display: block;
    position: relative;
    left: 15%;
    top: 15vh;
    font-family: "custom_font";
    font-weight: 400;
    font-size: 3rem; 
    line-height: 1rem;
}

p {
    justify-content: start;
}
#roleName{
    animation: mymove 5s infinite;
}

@keyframes mymove {
    0% {opacity: 0}
    50%   {opacity: 1}
    100%   {opacity: 0}
}



@media (prefers-reduced-motion: no-preference) {
    #waveHand{
        animation-name: waving; /* Refers to the name of your @keyframes element below */
        animation-duration: 2.1s; /* Change to speed up or slow down */
        animation-iteration-count: calc(2);
        transform-origin: 70% 70%;
        display: inline-block; 
    }

    #waveHand:hover{
        animation-name: waving; /* Refers to the name of your @keyframes element below */
        animation-duration: 2.1s; /* Change to speed up or slow down */
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display: inline-block; 
    }
}

@keyframes waving {
    0%  {transform: rotate(0deg);}
    10% {transform: rotate(20deg);}
    20% {transform: rotate(-10deg);}
    30% {transform: rotate(20deg);}
    40% {transform: rotate(-5deg);}
    50% {transform: rotate(15deg);}
    60% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}

/* .name:hover{
 color: #6e89ff;
 animation-name: bouncing;
 animation-duration: 1s; 
 animation-iteration-count:infinite;
 animation-fill-mode: both;
 display: inline-block; 
 font-style: italic;
} */
/* 
@keyframes bouncing {
    0%    {font-style: normal;}
    50%   {font-style: italic;}
    100%  {font-style: italic;}
} */

.btnSubmit{
    background-color: #ffe46e;
    border: 0.5rem solid #6effe4;
    color: #6effe4;
    padding: 32px 32px;
    text-align: center;
    text-decoration:solid;
    display: inline-block;
    font-size: 30px;
    font-family: "custom_font";
}


.button-85 {
  padding: 1em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 30px;
  font-family: "custom_font";
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}