.scroll-indicator{
    position: absolute;
    display: block;
    left:50%;
    bottom:0;
    transform: translate(-50%,0);
    color: #aa98497b;
 }


.scroll-indicator p {
    padding: 0 0;
    margin: 0 0;
}

.scroll-indicator img{
    width: 2vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%) scaleX(2);
    opacity: 0.4;
}

.animatedDown{
    animation-duration: 1s; 
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce; 
}
 

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translate(-50%,0);} 
    40% {-webkit-transform: translate(-50%,-30px);} 
    60% {-webkit-transform: translateY(-50%,-15px);} 
}

@media all and (min-width:960px){
    .text_content{
        font-size: 4rem !important; 
        left: 5vw !important;
    }

    .button-85{
        font-size: 2rem !important;
    }

}
@media all and (min-width:500px) and (max-width:960px){
  .text_content{
      font-size: 1.5rem !important; 
      left: 5vw !important;
  }

  .button-85{
      font-size: 1.5rem !important;
  }

}

@media all and (max-width:500px) {

  .text_content{
    padding-top: 5vh !important;
    font-size: small !important;
  }


}

.text_content{
    display: block;
    position: relative;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 5vw;
    font-family: "custom_font";
    font-weight: 400;
    font-size: 1rem; 
    line-height: 1rem;
    /* background-color: #48ff00;  */
}

