.side-nav {
    position: absolute;
    left: 0;
    height: 100%;
    /* width: 100%; */
}

.side-nav>div {
    position: relative;
    top: 50%;
    padding-left: 0px;
    /* right:0px; */
    float: left;
    transform: translate(0, -50%);
}

.side-nav ul {
    list-style: none;
    margin: 20px;
    padding: 0;
    font: normal 0.75rem Arial;
    color: #999;
}
.side-nav li {
    overflow: hidden;
    position: relative;
    padding: 0 0 10px 25px;
}

.side-nav li::before {
    content: '';
    position: absolute;
    left: 9px;
    top: 9px;
    width: 20px;
    height: 999px;
    border: 2px solid hsl(280, 80%, 73%);
    border-width: 0px 0 0 2px;
}

.side-nav li:last-child::before {
    border-width: 0 0 0 0;
}

.side-nav li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid lightblue;
    border-radius: 50%;
}

.side-nav li.current,
.side-nav li.passed,
.side-nav li.active {
    color: #000;
}

.side-nav li.current::before,
.side-nav li.active::before{
    border-top-color: dodgerblue;
}

.side-nav li.current::after,
.side-nav li.active::after {
    border-color: rgb(255, 255, 255);
    background: rgb(148, 196, 45);
}
/* 

li.passed::before,
li.passed::after {
    border-color: dodgerblue;
} */

